<div ng-controller="objekatController">
    <!--<div ng-listofobjects>-->

    <ul class="list-group">
            <li  ng-repeat="objekt in objekti" class="span12" style="background-image: url('http://www.solidbackgrounds.com/images/1920x1080/1920x1080-light-yellow-solid-color-background.jpg')">
           
             <h2 class="list-group-item-heading">{{objekt.naziv}}</h2>
            <h5>{{objekt.adresa}}</h5>
            <p class="list-group-item-text">{{objekt.opis}}</p>
        </li>
    </ul> 
  </div>
<!--</div>-->
<!--    {{objekti}}-->